* {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box-conversion {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.tasks {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    width: 500px;
    gap: 20px;
}

.card-content {
    display: flex;
    align-items: center;
    width: 436px;
}